#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
sudo apt install -y neovim
{{ else if eq .chezmoi.os "darwin" -}}
brew install neovim
{{ end -}}

sh -c "$(curl -fsSL https://raw.githubusercontent.com/lunarvim/lunarvim/master/utils/installer/install.sh)"
