#!/bin/bash

{{- if (or .codespaces .remote_containers) }}
exit
{{- else if eq .chezmoi.os "linux" -}}
sudo apt update && sudo apt install -y neovim
{{- else if eq .chezmoi.os "darwin" }}
brew install neovim
{{- end }}
